[submodule "external/RTNeural"]
	path = external/RTNeural
	url = https://github.com/jatinchowdhury18/RTNeural.git
[submodule "external/NeuralAmpModelerCore"]
	path = external/NeuralAmpModelerCore
	url = https://github.com/sdatkinson/NeuralAmpModelerCore.git
[submodule "external/JUCE"]
	path = external/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "external/lv2"]
	path = external/lv2
	url = https://github.com/lv2/lv2.git
